
@import url("components/banner.css");
@import url("components/navbar.css");
@import url("components/wrapper-icons.css");
@import url("components/card.css");
@import url("components/wrapper-party.css");
@import url("components/wrapper-car.css");
@import url("components/footer.css");
@import url("fonts/fonts.css");




.padded {
    padding: 50px 0 50px 0;
}

.wrapper-icon {
  background: url('../images/flagbackground.jpg') no-repeat;
  background-size: cover;
}

.wrapper-party{
  background: #F2992A;
}

.wrapper-car{
  background: linear-gradient(-180deg, rgba(250,217,97,0.03) 2%, #E69737 120%), url('../images/flagbackground.jpg') no-repeat;
  background-size: cover;


}


