/*@import url("components/banner.css");*/
@font-face {
  font-family:'Dope_Script';
  src: url('./fonts/Dope_Script.ttf');
}

@font-face {
  font-family:'Amatic-Bold';
  src: url('./fonts/Amatic-Bold');
}

@font-face {
  font-family:'BebasNeueBold';
  src: url('./fonts/BebasNeueBold');
}

@font-face {
  font-family:'BebasNeueLight';
  src: url('./fonts/BebasNeueLight');
}

body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin:0;
  background-color: transparent;
}

.container{
  width: 95%;
  margin-top: 10px;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

/* HEADER*/
header{
  background:transparent;
  color:black;
  padding-top:5px;
  min-height:70px;

}

header a{
  color:white;
  text-decoration: none;
  text-transform: uppercase;

}


header li{
  float: left;
  display: inline;
  padding:0 10px 0 10px;
}

header #branding{
  float: left;
}

header nav{
  float:right;
  margin-top: 5px;
}

header .current a{
  color: white;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
  text-decoration: none;
  opacity: 0.7;
}

/* BRANDING */

#branding img{
  width: 250px;
}


/* SHOWCASE */

#showcase{
  min-height: 600px;
  background:linear-gradient(-15deg, rgba(255,255,255,0.00) 8%,
    rgba(0,0,0,0.65) 50%), url('../images/home.jpg') no-repeat;
  display: flex;
  background-size: cover;
  text-align: center;
  color:white;
}

#showcase h1{
  font-family:'Dope_script';
  margin-top: 75px;
  font-size: 145px;
  margin-bottom: 0px;
  color: #FFFFFF;
  letter-spacing: 2.02px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

#showcase p{
  font-size: 20px;
  font-family:'Amatic-Bold';
  font-size: 36px;
  margin-top:25px;
  margin-bottom:70px;
  color: #FFFFFF;
  letter-spacing: 1.39px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

/* MAIN */

aside#sidebar{
  float:left;
  width: 100px;
  margin-top:10px;
}

aside#sidebar ul li{
  float:left;
  display: inline;
  padding:0 20px 0 20px;
  margin-top: 50px;
}



article#main-col{
  float:left;
  width:50%;
  margin-top: 10px;
}


.whyUs{
  font-family: BebasNeueBold;
  font-size: 30px;
  color: #AE700A;
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: 50px;
}

article#main-col p{
  font-family: BebasNeueLight;
  font-size: 20px;
  color: #AF7008;
  letter-spacing: 1.05px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: justify;
  margin-top: 10px;
}



