
@import url("fonts/fonts.css");


.banner {
  background:linear-gradient(135deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 90%), url('../../images/home.jpg') no-repeat;
  background-size: cover;
  background-position: right;
  width: auto !important;
  /*height: auto !important;*/
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-top: 50px;
}

.banner p{
  font-family: 'amaticbold';
  font-size: 34px;
  margin-bottom: 100px;
}


.row img{
  max-width: 100%;
  height: auto;
  margin-top: 200px;

}
