
footer {
  background-color: #3C3833;
  color: #fff;
  padding: 5px 0;


}

footer h4 {
  margin-bottom: 15px;
}

.logo-footer {
  max-width: 250px;
}

.footer-social a{
  color: #fff;
  font-size: 35px;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.footer-social a:hover{
  color: #fff;
  font-size: 35px;
  opacity: 0.5;
}

.footer-tagline {
  opacity: 1;
}

ul.footer-links {
  list-style-type: none;
  padding-left: 0px;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
  display: inline-block;
}



