@import url("fonts/fonts.css");

.navbar {
  /*background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));*/
  border-color: transparent;
}

.navbar-brand{
font-family: 'dope_scriptregular';
font-size: 40px;
margin-top: 10px;
color: white;
padding:15px;
}



/*
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
  body
  {
    background:red;
  }
  .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

}

*/
