.navbar {
  /*nbackground: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));*/
  border-color: transparent;


}

.navbar-brand{
font-family: 'Dope_script';
font-size: 40px;
margin-top: 10px;
color: white;
padding:15px;
}

